/*-------full page settings-------*/
body {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

/*-----------input section---------*/
section {
  position: relative;
  height: 37.5vh;
  width: 100%;
  background-color: #E5F3F2;
  text-align: center;
  padding: 5rem 0 0 0;
}

h1 {
  position: absolute;
  font-family: 'Roboto Slab', serif;
  height: 5rem;
  width: 100%;
  background-color: transparent;
  font-size: 4rem;
  font-weight: 700;
  color: #00A79D;
  padding-top: 2.5rem;
  z-index: 2;
}

span {
  color: grey;
}

form {
  margin-top: 3rem;
}

input {
  height: 2.75rem;
  width: 60%;
  border: .132rem solid lightgrey;
  font-size: xx-large;
  margin: 1rem 0 .5rem 0;
  padding-left: 1rem;
}

input::placeholder {
  color: lightgrey;
}

.submit-button {
  position: relative;
  height: 3rem;
  width: 62%;
  border: none;
  background-color: #00A79D;
  color: #fff;
  font-size: x-large;
  margin: 1rem auto;
}

.submit-button:hover {
  background-color: #045e55;
}

/*----------card append section-------*/
main {
  position: fixed;
  height: 50vh;
  width: 100%;
  overflow: scroll;
}

.search-bar {
  width: 62%;
  margin: 1.5rem 0;
}

/*-----------idea cards-----------*/
article {
  position: relative;
  height: 11rem;
  width: 62%;
  margin: 1.5rem auto;
  padding-bottom: .2rem;
  border-bottom: .125rem solid lightgrey;
}

h2 {
  float: left;
  font-family: 'Roboto Slab', serif;
  font-size: xx-large;
  color: #6D6E71;

}

article button {

  height: 2rem;
  width: 2rem;
  border: none;
}

p {
  position: relative;
  height: 50%;
  width: 100%;
  text-align: left;
  font-size: x-large;
  line-height: 1.75rem;
  color: #939598;
  margin: 1.5rem 0 -2.9rem 0;
  overflow: scroll;
}

.delete-button {
  float: right;
  background-image: url('images/delete.svg');
}

.delete-button:hover {
  background-image: url('images/delete-hover.svg');
}

.upvote-button {
  float: left;
  background-image: url('images/upvote.svg');
  margin-right: 1.5rem;
}

.upvote-button:hover {
  background-image: url('images/upvote-hover.svg');
}

.upvote-button:focus {  
  background-image: url('images/upvote-hover.svg');
}

.downvote-button {
  float: left;
  background-image: url('images/downvote.svg');
  margin-right: 1.5rem;
}

.downvote-button:hover {
  background-image: url('images/downvote-hover.svg');
}

.downvote-button:focus {  
  background-image: url('images/downvote-hover.svg');
}

h3 {
  float: left;
  font-family: 'Roboto Slab', serif;
  font-size: large;  
  color: #6D6E71;
  padding: .5rem 0 0 0;
}

select {
  float: left;
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance:none;
  font-size: large;
  color: #6D6E71;
  padding: .5rem 0 0 .5rem;
}

select::-ms-expand {
    display: none;
}